@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

/* General Style */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato";
}
p,
li,
a,
button {
  font-family: "Roboto";
  text-decoration: none;
}

/* Header Section */
#header {
  height: 20%;
  margin: 1rem;
}

.logo {
  display: block;
  width: 35%;
  height: 20%;
}
.nav {
  width: 100%;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  font-size: 1.5rem;
}

/* Top-Section */
.top-image {
  width: 100%;
  display: block;
}
.top-section {
  padding: 1rem;
  background-color: lightgray;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

/* Pink and Blue Section*/
.middle-section {
  background-color: pink;
  text-align: center;
  margin: 4rem 0;
  padding: 4rem 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
}
.middle-button {
  background-color: pink;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.bottom-section {
  background-color: lightsteelblue;
  text-align: center;
  margin: 4rem 0;
  padding: 4rem 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}
.bottom-button {
  background-color: lightsteelblue;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

/* Card Section */

#cards {
  margin: 2rem;
}
.card-header {
  text-align: center;
  line-height: 1.5;
  padding: 1rem;
  font-size: 1.5rem;
}
.card-left {
  border: 5px solid gray;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem 1rem;
  line-height: 1.5;
  font-size: 1.2rem;
}

.img-card-left {
  width: 105%;
  border-radius: 10px 10px 0 0;
  position: relative;
  left: -5%;
  z-index: -99;
}
.card-right {
  border: 5px solid gray;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem 1rem;
  line-height: 1.5;
  font-size: 1.2rem;
}

.img-card-right {
  width: 105%;
  border-radius: 10px 10px 0 0;
  position: relative;
  left: -5%;
  z-index: -99;
}

.mobilität-link,
.podcast-link {
  color: black;
  font-weight: bold;
  border-bottom: 3px solid black;
}

/* Footer Section*/

#footer {
  width: 100%;
  background-color: black;
  color: gray;
  padding: 4rem;
  text-align: center;
  display: inline-block;
}

.footer-link {
  display: block;
  color: white;
  text-decoration: underline;
  line-height: 4;
}

#footer p {
  margin-top: 4rem;
}

/* Desktop Version */

@media (min-width: 992px) {
  #header {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 20%;
    height: 20%;
    margin: 0 2rem;
  }
  .nav-content {
    justify-content: center;
  }
  .nav-list {
    margin-right: 2rem;
    font-weight: bold;
    color: gray;
  }
  .top-image {
    display: none;
  }
  .top-section {
    background-image: url(/img/header-img.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 3rem;
    height: 100vmin;
    display: grid;
    grid-template-columns: 50%;
    align-content: center;
    color: white;
  }
  .top-section h1 {
    font-size: 3rem;
  }
  .top-section p {
    font-size: 1.3rem;
    font-weight: normal;
    margin-top: -2rem;
  }
  .middle-section {
    padding: 7rem 15rem;
  }
  .bottom-section {
    padding: 7rem 15rem;
  }
  .bottom-section h5 {
    font-size: 1.5rem;
  }
  .card-header {
    align-content: center;
    width: 50%;
    margin: 0 auto;
  }
  .cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
  }
  .card-left {
    margin-right: 2rem;
  }
  .card-right {
    margin-left: 2rem;
  }
  .img-card-left,
  .img-card-right {
    width: 110%;
    left: -10%;
  }
  #footer {
    display: inline-block;
  }
  .footer-link {
    display: inline-block;
    margin-left: 2rem;
  }
}
